# IDE
build*/
compile_commands.json
CMakeUserPresets.json

# QtCreator
*.txt.user

# Clang
.cache

# qmlls
*.qmlls.ini

# Kdevelop
*.kdev4
*.kate-swp

# KDE stuffs
.clang-format

# xgettext
po/LINGUAS
