[Desktop Entry]
Categories=Utility;System;Settings
Comment=Interface for HeadsetControl (by Sapd) written with Kirigami and KDE Framework
Exec=headsetkontrol
Icon=headsetkontrol
Keywords=headsetkontrol;headsetcontrol;headset
Name=HeadsetKontrol
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=xyz.billsstuff.headsetkontrol
X-KDE-SubstituteUID=false

