# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2026 Trần Nam Tuấn <tuantran1632001@gmail.com>
[Desktop Entry]
Name=HeadsetKontrol
Comment=HeadsetKontrol Kirigami Application
Version=1.0
Exec=headsetkontrol
Icon=applications-development
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;
