[Desktop Entry]
Name=HeadsetKontrol
Comment=Interface for HeadsetControl (by Sapd) written with Kirigami and KDE Framework
Type=Application
Exec=HeadsetKontrol %u
Icon=headsetkontrol
Terminal=false
Categories=Utility;System;Settings
Keywords=headsetkontrol;headsetcontrol;headset
